#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1038;
}

.dropdown-menu {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-2em);
  transition: all 0.3s ease;
}

.dropdown-menu.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(2em);
  transition: all 0.3s ease;
}

.dropdown-menu {
  display: block;
  background-color: white;
  border: none;
  outline: none;

  button {
    border: none;
    outline: none;
    box-shadow: none;
    &:hover {
      background-color: rgb(183, 32, 46);
      color: white;
    }
    &:focus {
      background-color: rgb(183, 32, 46);
      color: white;
    }
  }

  a {
    text-decoration: none;
  }
}
