@media only screen and (min-width: 992px) {
  #assignment-list {
    #notifications-container {
      transition: all 600ms ease;
      position: sticky;
      top: 6em;
      height: 70vh;
      #notification-list {
        height: 70vh;
        overflow: auto;
      }
    }
  }
}
